<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrivacyTracking</key>
    <false/>
    <key>NSPrivacyTrackingDomains</key>
    <array/>
    <key>NSPrivacyAccessedAPITypes</key>
    <array>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryFileTimestampAPIs</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>EA3D2B7E-11EA-454D-B1AC-1D706DBBAE63</string>
            </array>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryCameraAPIs</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>7D16585C-CEB0-4922-BC6E-83EDCFFD39BB</string>
            </array>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryMicrophoneAPIs</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>7D16585C-CEB0-4922-BC6E-83EDCFFD39BB</string>
            </array>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryLocationAPIs</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>3B52A1BB-D7D7-473B-BDAB-215DDA215747</string>
            </array>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryMotionAPIs</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>C617D7E3-97DB-4B2A-8017-1B01897F51C7</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
